MODE=LOCAL
LOG_LEVEL=INFO
DB_NAME=artshop
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET_KEY=change-this-secret-key-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
ADMIN_EMAILS=["admin@example.com"]
