--
-- PostgreSQL database dump
--

\restrict zBjGWunD73jjrSaJ9DvbxWCbr6lUR78HXHk60k5YLfV2A5fwPu0nrx5lDAlpGv7

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: artwork_labels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artwork_labels (
    id bigint NOT NULL,
    artwork_id bigint NOT NULL,
    label_id bigint NOT NULL
);


ALTER TABLE public.artwork_labels OWNER TO postgres;

--
-- Name: artwork_labels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.artwork_labels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.artwork_labels_id_seq OWNER TO postgres;

--
-- Name: artwork_labels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.artwork_labels_id_seq OWNED BY public.artwork_labels.id;


--
-- Name: artwork_print_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artwork_print_assets (
    id integer NOT NULL,
    artwork_id bigint NOT NULL,
    provider_key character varying(40) NOT NULL,
    category_id character varying(80),
    asset_role character varying(80) NOT NULL,
    slot_size_label character varying(80),
    file_url character varying(1000) NOT NULL,
    file_name character varying(255),
    file_ext character varying(20),
    mime_type character varying(120),
    file_size_bytes bigint,
    checksum_sha256 character varying(64),
    file_metadata json,
    note text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.artwork_print_assets OWNER TO postgres;

--
-- Name: artwork_print_assets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.artwork_print_assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.artwork_print_assets_id_seq OWNER TO postgres;

--
-- Name: artwork_print_assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.artwork_print_assets_id_seq OWNED BY public.artwork_print_assets.id;


--
-- Name: artworks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artworks (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    slug character varying(255),
    description character varying(1000000),
    original_price integer,
    original_status character varying(20) DEFAULT 'available'::character varying NOT NULL,
    year integer,
    style character varying(100),
    width_cm double precision,
    height_cm double precision,
    depth_cm double precision,
    width_in double precision,
    height_in double precision,
    depth_in double precision,
    orientation character varying(20) NOT NULL,
    images json,
    print_quality_url character varying(1000),
    print_source_metadata json,
    print_profile_overrides json,
    print_workflow_config json,
    has_original boolean DEFAULT false NOT NULL,
    has_canvas_print boolean DEFAULT false NOT NULL,
    has_canvas_print_limited boolean DEFAULT false NOT NULL,
    has_paper_print boolean DEFAULT false NOT NULL,
    has_paper_print_limited boolean DEFAULT false NOT NULL,
    canvas_print_limited_quantity integer,
    paper_print_limited_quantity integer,
    print_aspect_ratio_id integer,
    print_min_size_label character varying(50),
    print_max_size_label character varying(50)
);


ALTER TABLE public.artworks OWNER TO postgres;

--
-- Name: artworks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.artworks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.artworks_id_seq OWNER TO postgres;

--
-- Name: artworks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.artworks_id_seq OWNED BY public.artworks.id;


--
-- Name: email_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_templates (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    trigger_event character varying(100) NOT NULL,
    send_to_customer boolean NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    subject character varying(300) NOT NULL,
    body text NOT NULL,
    note text
);


ALTER TABLE public.email_templates OWNER TO postgres;

--
-- Name: email_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.email_templates_id_seq OWNER TO postgres;

--
-- Name: email_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_templates_id_seq OWNED BY public.email_templates.id;


--
-- Name: label_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.label_categories (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    accent_color character varying(20)
);


ALTER TABLE public.label_categories OWNER TO postgres;

--
-- Name: label_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.label_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.label_categories_id_seq OWNER TO postgres;

--
-- Name: label_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.label_categories_id_seq OWNED BY public.label_categories.id;


--
-- Name: labels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.labels (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    category_id bigint
);


ALTER TABLE public.labels OWNER TO postgres;

--
-- Name: labels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.labels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.labels_id_seq OWNER TO postgres;

--
-- Name: labels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.labels_id_seq OWNED BY public.labels.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    artwork_id integer NOT NULL,
    edition_type character varying(30) NOT NULL,
    finish character varying(50) NOT NULL,
    size character varying(50),
    price integer NOT NULL,
    prodigi_sku character varying(100),
    prodigi_attributes json,
    prodigi_shipping_method character varying(50),
    prodigi_order_id character varying(100),
    prodigi_status character varying(50),
    prodigi_wholesale_eur double precision,
    prodigi_shipping_eur double precision,
    prodigi_retail_eur double precision
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    user_id integer,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(200) NOT NULL,
    phone character varying(50) NOT NULL,
    newsletter_opt_in boolean NOT NULL,
    discovery_source character varying(500),
    shipping_country character varying(100),
    shipping_country_code character varying(2),
    shipping_state character varying(100),
    shipping_city character varying(200),
    shipping_address_line1 character varying(500),
    shipping_address_line2 character varying(500),
    shipping_postal_code character varying(20),
    shipping_phone character varying(50),
    shipping_notes character varying(1000),
    promo_code character varying(50),
    total_price integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    payment_status character varying(20) NOT NULL,
    invoice_id character varying(100),
    payment_url character varying(500),
    fulfillment_status character varying(30) NOT NULL,
    notes character varying(2000),
    tracking_number character varying(200),
    carrier character varying(100),
    tracking_url character varying(500),
    confirmed_at timestamp without time zone,
    print_ordered_at timestamp without time zone,
    print_received_at timestamp without time zone,
    shipped_at timestamp without time zone,
    delivered_at timestamp without time zone
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: print_aspect_ratios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.print_aspect_ratios (
    id integer NOT NULL,
    label character varying(20) NOT NULL,
    description character varying(200),
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.print_aspect_ratios OWNER TO postgres;

--
-- Name: print_aspect_ratios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.print_aspect_ratios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.print_aspect_ratios_id_seq OWNER TO postgres;

--
-- Name: print_aspect_ratios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.print_aspect_ratios_id_seq OWNED BY public.print_aspect_ratios.id;


--
-- Name: print_pricing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.print_pricing (
    id integer NOT NULL,
    aspect_ratio_id integer NOT NULL,
    print_type character varying(30) NOT NULL,
    size_label character varying(50) NOT NULL,
    price integer NOT NULL
);


ALTER TABLE public.print_pricing OWNER TO postgres;

--
-- Name: COLUMN print_pricing.print_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.print_pricing.print_type IS 'canvas | canvas_limited | paper | paper_limited';


--
-- Name: COLUMN print_pricing.size_label; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.print_pricing.size_label IS 'Human-readable size string, e.g. "30×40 cm" or "12×16 in"';


--
-- Name: COLUMN print_pricing.price; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.print_pricing.price IS 'Price in whole USD';


--
-- Name: print_pricing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.print_pricing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.print_pricing_id_seq OWNER TO postgres;

--
-- Name: print_pricing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.print_pricing_id_seq OWNED BY public.print_pricing.id;


--
-- Name: prodigi_artwork_storefront_payloads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_artwork_storefront_payloads (
    id integer NOT NULL,
    bake_id integer NOT NULL,
    artwork_id bigint NOT NULL,
    country_code character varying(8) NOT NULL,
    country_name character varying(120),
    print_country_supported boolean DEFAULT false NOT NULL,
    default_medium character varying(20),
    min_print_price numeric(12,2),
    summary json NOT NULL,
    payload json NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_artwork_storefront_payloads OWNER TO postgres;

--
-- Name: prodigi_artwork_storefront_payloads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_artwork_storefront_payloads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_artwork_storefront_payloads_id_seq OWNER TO postgres;

--
-- Name: prodigi_artwork_storefront_payloads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_artwork_storefront_payloads_id_seq OWNED BY public.prodigi_artwork_storefront_payloads.id;


--
-- Name: prodigi_catalog_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_catalog_products (
    id integer NOT NULL,
    sku character varying(120) NOT NULL,
    category character varying(120),
    product_type character varying(120),
    product_description text,
    size_cm character varying(80),
    size_inches character varying(80),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_catalog_products OWNER TO postgres;

--
-- Name: prodigi_catalog_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_catalog_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_catalog_products_id_seq OWNER TO postgres;

--
-- Name: prodigi_catalog_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_catalog_products_id_seq OWNED BY public.prodigi_catalog_products.id;


--
-- Name: prodigi_catalog_routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_catalog_routes (
    id integer NOT NULL,
    variant_id integer NOT NULL,
    route_key character varying(500) NOT NULL,
    source_country character varying(8),
    destination_country character varying(8),
    destination_country_name character varying(120),
    region_id character varying(80),
    shipping_method character varying(80),
    service_name character varying(160),
    service_level character varying(80),
    tracked_shipping character varying(40),
    product_price numeric(12,2),
    product_currency character varying(8),
    shipping_price numeric(12,2),
    plus_one_shipping_price numeric(12,2),
    shipping_currency character varying(8),
    min_shipping_days integer,
    max_shipping_days integer,
    source_csv_path character varying(500),
    raw_row json,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_catalog_routes OWNER TO postgres;

--
-- Name: prodigi_catalog_routes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_catalog_routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_catalog_routes_id_seq OWNER TO postgres;

--
-- Name: prodigi_catalog_routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_catalog_routes_id_seq OWNED BY public.prodigi_catalog_routes.id;


--
-- Name: prodigi_catalog_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_catalog_variants (
    id integer NOT NULL,
    product_id integer NOT NULL,
    variant_key character varying(500) NOT NULL,
    finish character varying(120),
    color character varying(80),
    frame character varying(160),
    style character varying(200),
    glaze character varying(160),
    mount character varying(120),
    mount_color character varying(120),
    paper_type character varying(120),
    substrate_weight character varying(80),
    wrap character varying(80),
    edge character varying(80),
    raw_attributes json,
    normalized_medium character varying(40),
    normalized_presentation character varying(40),
    normalized_frame_type character varying(40),
    normalized_material character varying(80),
    is_relevant_for_artshop boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_catalog_variants OWNER TO postgres;

--
-- Name: prodigi_catalog_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_catalog_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_catalog_variants_id_seq OWNER TO postgres;

--
-- Name: prodigi_catalog_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_catalog_variants_id_seq OWNED BY public.prodigi_catalog_variants.id;


--
-- Name: prodigi_storefront_bakes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_storefront_bakes (
    id integer NOT NULL,
    bake_key character varying(120) NOT NULL,
    paper_material character varying(120) NOT NULL,
    include_notice_level boolean DEFAULT true NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    status character varying(30) DEFAULT 'ready'::character varying NOT NULL,
    ratio_count integer DEFAULT 0 NOT NULL,
    country_count integer DEFAULT 0 NOT NULL,
    offer_group_count integer DEFAULT 0 NOT NULL,
    offer_size_count integer DEFAULT 0 NOT NULL,
    note text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_storefront_bakes OWNER TO postgres;

--
-- Name: prodigi_storefront_bakes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_storefront_bakes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_storefront_bakes_id_seq OWNER TO postgres;

--
-- Name: prodigi_storefront_bakes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_storefront_bakes_id_seq OWNED BY public.prodigi_storefront_bakes.id;


--
-- Name: prodigi_storefront_offer_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_storefront_offer_groups (
    id integer NOT NULL,
    bake_id integer NOT NULL,
    ratio_label character varying(20) NOT NULL,
    ratio_title character varying(120),
    destination_country character varying(8) NOT NULL,
    destination_country_name character varying(120),
    category_id character varying(80) NOT NULL,
    category_label character varying(120) NOT NULL,
    material_label character varying(120),
    frame_label character varying(120),
    storefront_action character varying(30) NOT NULL,
    fulfillment_level character varying(30) NOT NULL,
    geography_scope character varying(30) NOT NULL,
    tax_risk character varying(30) NOT NULL,
    source_countries json,
    fastest_delivery_days character varying(40),
    note text,
    fixed_attributes json,
    recommended_defaults json,
    allowed_attributes json,
    available_shipping_tiers json,
    default_shipping_tier character varying(40),
    available_size_count integer DEFAULT 0 NOT NULL,
    min_total_cost numeric(12,2),
    max_total_cost numeric(12,2),
    currency character varying(8),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_storefront_offer_groups OWNER TO postgres;

--
-- Name: prodigi_storefront_offer_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_storefront_offer_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_storefront_offer_groups_id_seq OWNER TO postgres;

--
-- Name: prodigi_storefront_offer_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_storefront_offer_groups_id_seq OWNED BY public.prodigi_storefront_offer_groups.id;


--
-- Name: prodigi_storefront_offer_sizes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodigi_storefront_offer_sizes (
    id integer NOT NULL,
    offer_group_id integer NOT NULL,
    slot_size_label character varying(80) NOT NULL,
    size_label character varying(80),
    available boolean DEFAULT true NOT NULL,
    is_exact_match boolean DEFAULT false NOT NULL,
    centroid_size_label character varying(80),
    member_size_labels json,
    sku character varying(120),
    supplier_size_cm character varying(80),
    supplier_size_inches character varying(80),
    print_area_width_px integer,
    print_area_height_px integer,
    print_area_name character varying(80),
    print_area_source character varying(80),
    print_area_dimensions json,
    source_country character varying(8),
    currency character varying(8),
    product_price numeric(12,2),
    shipping_price numeric(12,2),
    total_cost numeric(12,2),
    delivery_days character varying(40),
    default_shipping_tier character varying(40),
    shipping_method character varying(80),
    service_name character varying(160),
    service_level character varying(80),
    shipping_profiles json,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prodigi_storefront_offer_sizes OWNER TO postgres;

--
-- Name: prodigi_storefront_offer_sizes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prodigi_storefront_offer_sizes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prodigi_storefront_offer_sizes_id_seq OWNER TO postgres;

--
-- Name: prodigi_storefront_offer_sizes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.prodigi_storefront_offer_sizes_id_seq OWNED BY public.prodigi_storefront_offer_sizes.id;


--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.site_settings (
    id integer NOT NULL,
    about_text text,
    contact_email character varying(200),
    social_instagram character varying(200),
    social_telegram character varying(200),
    social_threads character varying(200),
    social_link character varying(200),
    studio_address text,
    footer_text_discover text,
    footer_text_services text,
    footer_text_circle text,
    artist_home_photo_url character varying(500),
    artist_about_photo_url character varying(500),
    main_bg_desktop_url character varying(500),
    main_bg_mobile_url character varying(500),
    cover_2_desktop_url character varying(500),
    cover_2_mobile_url character varying(500),
    cover_3_desktop_url character varying(500),
    cover_3_mobile_url character varying(500),
    hero_ken_burns_enabled boolean DEFAULT true NOT NULL,
    hero_slide_duration integer DEFAULT 15 NOT NULL
);


ALTER TABLE public.site_settings OWNER TO postgres;

--
-- Name: user_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_likes (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    artwork_id bigint NOT NULL
);


ALTER TABLE public.user_likes OWNER TO postgres;

--
-- Name: user_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_likes_id_seq OWNER TO postgres;

--
-- Name: user_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_likes_id_seq OWNED BY public.user_likes.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(100) NOT NULL,
    hashed_password character varying(200) NOT NULL,
    email character varying(200) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: artwork_labels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_labels ALTER COLUMN id SET DEFAULT nextval('public.artwork_labels_id_seq'::regclass);


--
-- Name: artwork_print_assets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_print_assets ALTER COLUMN id SET DEFAULT nextval('public.artwork_print_assets_id_seq'::regclass);


--
-- Name: artworks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artworks ALTER COLUMN id SET DEFAULT nextval('public.artworks_id_seq'::regclass);


--
-- Name: email_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_templates ALTER COLUMN id SET DEFAULT nextval('public.email_templates_id_seq'::regclass);


--
-- Name: label_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.label_categories ALTER COLUMN id SET DEFAULT nextval('public.label_categories_id_seq'::regclass);


--
-- Name: labels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels ALTER COLUMN id SET DEFAULT nextval('public.labels_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: print_aspect_ratios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_aspect_ratios ALTER COLUMN id SET DEFAULT nextval('public.print_aspect_ratios_id_seq'::regclass);


--
-- Name: print_pricing id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_pricing ALTER COLUMN id SET DEFAULT nextval('public.print_pricing_id_seq'::regclass);


--
-- Name: prodigi_artwork_storefront_payloads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_artwork_storefront_payloads ALTER COLUMN id SET DEFAULT nextval('public.prodigi_artwork_storefront_payloads_id_seq'::regclass);


--
-- Name: prodigi_catalog_products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_products ALTER COLUMN id SET DEFAULT nextval('public.prodigi_catalog_products_id_seq'::regclass);


--
-- Name: prodigi_catalog_routes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_routes ALTER COLUMN id SET DEFAULT nextval('public.prodigi_catalog_routes_id_seq'::regclass);


--
-- Name: prodigi_catalog_variants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_variants ALTER COLUMN id SET DEFAULT nextval('public.prodigi_catalog_variants_id_seq'::regclass);


--
-- Name: prodigi_storefront_bakes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_bakes ALTER COLUMN id SET DEFAULT nextval('public.prodigi_storefront_bakes_id_seq'::regclass);


--
-- Name: prodigi_storefront_offer_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_groups ALTER COLUMN id SET DEFAULT nextval('public.prodigi_storefront_offer_groups_id_seq'::regclass);


--
-- Name: prodigi_storefront_offer_sizes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_sizes ALTER COLUMN id SET DEFAULT nextval('public.prodigi_storefront_offer_sizes_id_seq'::regclass);


--
-- Name: user_likes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_likes ALTER COLUMN id SET DEFAULT nextval('public.user_likes_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: artwork_labels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.artwork_labels (id, artwork_id, label_id) FROM stdin;
1	1	1
2	1	7
3	1	9
4	2	1
5	2	8
6	3	10
7	3	6
8	4	4
9	4	9
10	5	3
11	5	7
12	6	1
13	6	9
14	7	1
15	7	8
\.


--
-- Data for Name: artwork_print_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.artwork_print_assets (id, artwork_id, provider_key, category_id, asset_role, slot_size_label, file_url, file_name, file_ext, mime_type, file_size_bytes, checksum_sha256, file_metadata, note, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: artworks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_templates (id, key, trigger_event, send_to_customer, is_active, subject, body, note) FROM stdin;
\.


--
-- Data for Name: label_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.label_categories (id, title, accent_color) FROM stdin;
1	Medium	\N
2	Style	\N
3	Collections	\N
\.


--
-- Data for Name: labels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.labels (id, title, category_id) FROM stdin;
1	Oil Painting	1
2	Watercolor	1
3	Digital	1
4	Photography	1
5	Sculpture	1
6	Mixed Media	1
7	Abstract	2
8	Portrait	2
9	Landscape	2
10	Street Art	2
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: print_aspect_ratios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.print_aspect_ratios (id, label, description, sort_order) FROM stdin;
\.


--
-- Data for Name: print_pricing; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.print_pricing (id, aspect_ratio_id, print_type, size_label, price) FROM stdin;
\.


--
-- Data for Name: prodigi_artwork_storefront_payloads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_artwork_storefront_payloads (id, bake_id, artwork_id, country_code, country_name, print_country_supported, default_medium, min_print_price, summary, payload, created_at) FROM stdin;
\.


--
-- Data for Name: prodigi_catalog_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_catalog_products (id, sku, category, product_type, product_description, size_cm, size_inches, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: prodigi_catalog_routes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_catalog_routes (id, variant_id, route_key, source_country, destination_country, destination_country_name, region_id, shipping_method, service_name, service_level, tracked_shipping, product_price, product_currency, shipping_price, plus_one_shipping_price, shipping_currency, min_shipping_days, max_shipping_days, source_csv_path, raw_row, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: prodigi_catalog_variants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_catalog_variants (id, product_id, variant_key, finish, color, frame, style, glaze, mount, mount_color, paper_type, substrate_weight, wrap, edge, raw_attributes, normalized_medium, normalized_presentation, normalized_frame_type, normalized_material, is_relevant_for_artshop, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: prodigi_storefront_bakes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_storefront_bakes (id, bake_key, paper_material, include_notice_level, is_active, status, ratio_count, country_count, offer_group_count, offer_size_count, note, created_at) FROM stdin;
\.


--
-- Data for Name: prodigi_storefront_offer_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_storefront_offer_groups (id, bake_id, ratio_label, ratio_title, destination_country, destination_country_name, category_id, category_label, material_label, frame_label, storefront_action, fulfillment_level, geography_scope, tax_risk, source_countries, fastest_delivery_days, note, fixed_attributes, recommended_defaults, allowed_attributes, available_shipping_tiers, default_shipping_tier, available_size_count, min_total_cost, max_total_cost, currency, created_at) FROM stdin;
\.


--
-- Data for Name: prodigi_storefront_offer_sizes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prodigi_storefront_offer_sizes (id, offer_group_id, slot_size_label, size_label, available, is_exact_match, centroid_size_label, member_size_labels, sku, supplier_size_cm, supplier_size_inches, print_area_width_px, print_area_height_px, print_area_name, print_area_source, print_area_dimensions, source_country, currency, product_price, shipping_price, total_cost, delivery_days, default_shipping_tier, shipping_method, service_name, service_level, shipping_profiles, created_at) FROM stdin;
\.


--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.site_settings (id, about_text, contact_email, social_instagram, social_telegram, social_threads, social_link, studio_address, footer_text_discover, footer_text_services, footer_text_circle, artist_home_photo_url, artist_about_photo_url, main_bg_desktop_url, main_bg_mobile_url, cover_2_desktop_url, cover_2_mobile_url, cover_3_desktop_url, cover_3_mobile_url, hero_ken_burns_enabled, hero_slide_duration) FROM stdin;
1	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	t	15
\.


--
-- Data for Name: user_likes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_likes (id, user_id, artwork_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, hashed_password, email) FROM stdin;
1	user1	$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW	user1@test.com
2	user2	$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW	user2@test.com
3	user3	$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW	user3@test.com
4	testadmin	$argon2id$v=19$m=65536,t=3,p=4$TX5rNRezoXEVaWQDuGTy2Q$y7/vinNdsaby57qtKptDDs89DmerkcNj0wG8K8JIiv8	test_admin@artshop.com
\.


--
-- Name: artwork_labels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artwork_labels_id_seq', 15, true);


--
-- Name: artwork_print_assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artwork_print_assets_id_seq', 1, false);


--
-- Name: artworks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artworks_id_seq', 7, true);


--
-- Name: email_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_templates_id_seq', 1, false);


--
-- Name: label_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.label_categories_id_seq', 3, true);


--
-- Name: labels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.labels_id_seq', 10, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 6, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 3, true);


--
-- Name: print_aspect_ratios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.print_aspect_ratios_id_seq', 1, false);


--
-- Name: print_pricing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.print_pricing_id_seq', 1, false);


--
-- Name: prodigi_artwork_storefront_payloads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_artwork_storefront_payloads_id_seq', 1, false);


--
-- Name: prodigi_catalog_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_catalog_products_id_seq', 1, false);


--
-- Name: prodigi_catalog_routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_catalog_routes_id_seq', 1, false);


--
-- Name: prodigi_catalog_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_catalog_variants_id_seq', 1, false);


--
-- Name: prodigi_storefront_bakes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_storefront_bakes_id_seq', 1, false);


--
-- Name: prodigi_storefront_offer_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_storefront_offer_groups_id_seq', 1, false);


--
-- Name: prodigi_storefront_offer_sizes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prodigi_storefront_offer_sizes_id_seq', 1, false);


--
-- Name: user_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_likes_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: artwork_labels artwork_labels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_labels
    ADD CONSTRAINT artwork_labels_pkey PRIMARY KEY (id);


--
-- Name: artwork_print_assets artwork_print_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_print_assets
    ADD CONSTRAINT artwork_print_assets_pkey PRIMARY KEY (id);


--
-- Name: artworks artworks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artworks
    ADD CONSTRAINT artworks_pkey PRIMARY KEY (id);


--
-- Name: email_templates email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_pkey PRIMARY KEY (id);


--
-- Name: label_categories label_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.label_categories
    ADD CONSTRAINT label_categories_pkey PRIMARY KEY (id);


--
-- Name: label_categories label_categories_title_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.label_categories
    ADD CONSTRAINT label_categories_title_key UNIQUE (title);


--
-- Name: labels labels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: print_aspect_ratios print_aspect_ratios_label_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_aspect_ratios
    ADD CONSTRAINT print_aspect_ratios_label_key UNIQUE (label);


--
-- Name: print_aspect_ratios print_aspect_ratios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_aspect_ratios
    ADD CONSTRAINT print_aspect_ratios_pkey PRIMARY KEY (id);


--
-- Name: print_pricing print_pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_pricing
    ADD CONSTRAINT print_pricing_pkey PRIMARY KEY (id);


--
-- Name: prodigi_artwork_storefront_payloads prodigi_artwork_storefront_payloads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_artwork_storefront_payloads
    ADD CONSTRAINT prodigi_artwork_storefront_payloads_pkey PRIMARY KEY (id);


--
-- Name: prodigi_catalog_products prodigi_catalog_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_products
    ADD CONSTRAINT prodigi_catalog_products_pkey PRIMARY KEY (id);


--
-- Name: prodigi_catalog_routes prodigi_catalog_routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_routes
    ADD CONSTRAINT prodigi_catalog_routes_pkey PRIMARY KEY (id);


--
-- Name: prodigi_catalog_variants prodigi_catalog_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_variants
    ADD CONSTRAINT prodigi_catalog_variants_pkey PRIMARY KEY (id);


--
-- Name: prodigi_storefront_bakes prodigi_storefront_bakes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_bakes
    ADD CONSTRAINT prodigi_storefront_bakes_pkey PRIMARY KEY (id);


--
-- Name: prodigi_storefront_offer_groups prodigi_storefront_offer_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_groups
    ADD CONSTRAINT prodigi_storefront_offer_groups_pkey PRIMARY KEY (id);


--
-- Name: prodigi_storefront_offer_sizes prodigi_storefront_offer_sizes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_sizes
    ADD CONSTRAINT prodigi_storefront_offer_sizes_pkey PRIMARY KEY (id);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (id);


--
-- Name: artwork_print_assets uq_artwork_print_asset_scope; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_print_assets
    ADD CONSTRAINT uq_artwork_print_asset_scope UNIQUE (artwork_id, provider_key, category_id, asset_role, slot_size_label);


--
-- Name: labels uq_label_title_category; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT uq_label_title_category UNIQUE (title, category_id);


--
-- Name: prodigi_artwork_storefront_payloads uq_prodigi_artwork_storefront_payload_bake_artwork_country; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_artwork_storefront_payloads
    ADD CONSTRAINT uq_prodigi_artwork_storefront_payload_bake_artwork_country UNIQUE (bake_id, artwork_id, country_code);


--
-- Name: prodigi_storefront_offer_groups uq_prodigi_storefront_group_bake_ratio_country_category; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_groups
    ADD CONSTRAINT uq_prodigi_storefront_group_bake_ratio_country_category UNIQUE (bake_id, ratio_label, destination_country, category_id);


--
-- Name: prodigi_storefront_offer_sizes uq_prodigi_storefront_size_group_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_sizes
    ADD CONSTRAINT uq_prodigi_storefront_size_group_slot UNIQUE (offer_group_id, slot_size_label);


--
-- Name: prodigi_catalog_variants uq_prodigi_variant_product_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_variants
    ADD CONSTRAINT uq_prodigi_variant_product_key UNIQUE (product_id, variant_key);


--
-- Name: user_likes user_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT user_likes_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_artwork_print_assets_artwork_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artwork_print_assets_artwork_id ON public.artwork_print_assets USING btree (artwork_id);


--
-- Name: ix_artwork_print_assets_asset_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artwork_print_assets_asset_role ON public.artwork_print_assets USING btree (asset_role);


--
-- Name: ix_artwork_print_assets_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artwork_print_assets_category_id ON public.artwork_print_assets USING btree (category_id);


--
-- Name: ix_artwork_print_assets_provider_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artwork_print_assets_provider_key ON public.artwork_print_assets USING btree (provider_key);


--
-- Name: ix_artwork_print_assets_slot_size_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artwork_print_assets_slot_size_label ON public.artwork_print_assets USING btree (slot_size_label);


--
-- Name: ix_artworks_print_aspect_ratio_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_artworks_print_aspect_ratio_id ON public.artworks USING btree (print_aspect_ratio_id);


--
-- Name: ix_artworks_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_artworks_slug ON public.artworks USING btree (slug);


--
-- Name: ix_email_templates_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_email_templates_key ON public.email_templates USING btree (key);


--
-- Name: ix_print_pricing_aspect_ratio_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_print_pricing_aspect_ratio_id ON public.print_pricing USING btree (aspect_ratio_id);


--
-- Name: ix_print_pricing_print_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_print_pricing_print_type ON public.print_pricing USING btree (print_type);


--
-- Name: ix_prodigi_artwork_storefront_payloads_artwork_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_artwork_storefront_payloads_artwork_id ON public.prodigi_artwork_storefront_payloads USING btree (artwork_id);


--
-- Name: ix_prodigi_artwork_storefront_payloads_bake_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_artwork_storefront_payloads_bake_id ON public.prodigi_artwork_storefront_payloads USING btree (bake_id);


--
-- Name: ix_prodigi_artwork_storefront_payloads_country_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_artwork_storefront_payloads_country_code ON public.prodigi_artwork_storefront_payloads USING btree (country_code);


--
-- Name: ix_prodigi_catalog_products_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_prodigi_catalog_products_sku ON public.prodigi_catalog_products USING btree (sku);


--
-- Name: ix_prodigi_catalog_routes_destination_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_routes_destination_country ON public.prodigi_catalog_routes USING btree (destination_country);


--
-- Name: ix_prodigi_catalog_routes_region_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_routes_region_id ON public.prodigi_catalog_routes USING btree (region_id);


--
-- Name: ix_prodigi_catalog_routes_route_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_prodigi_catalog_routes_route_key ON public.prodigi_catalog_routes USING btree (route_key);


--
-- Name: ix_prodigi_catalog_routes_shipping_method; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_routes_shipping_method ON public.prodigi_catalog_routes USING btree (shipping_method);


--
-- Name: ix_prodigi_catalog_routes_source_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_routes_source_country ON public.prodigi_catalog_routes USING btree (source_country);


--
-- Name: ix_prodigi_catalog_routes_variant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_routes_variant_id ON public.prodigi_catalog_routes USING btree (variant_id);


--
-- Name: ix_prodigi_catalog_variants_is_relevant_for_artshop; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_is_relevant_for_artshop ON public.prodigi_catalog_variants USING btree (is_relevant_for_artshop);


--
-- Name: ix_prodigi_catalog_variants_normalized_frame_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_normalized_frame_type ON public.prodigi_catalog_variants USING btree (normalized_frame_type);


--
-- Name: ix_prodigi_catalog_variants_normalized_material; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_normalized_material ON public.prodigi_catalog_variants USING btree (normalized_material);


--
-- Name: ix_prodigi_catalog_variants_normalized_medium; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_normalized_medium ON public.prodigi_catalog_variants USING btree (normalized_medium);


--
-- Name: ix_prodigi_catalog_variants_normalized_presentation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_normalized_presentation ON public.prodigi_catalog_variants USING btree (normalized_presentation);


--
-- Name: ix_prodigi_catalog_variants_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_product_id ON public.prodigi_catalog_variants USING btree (product_id);


--
-- Name: ix_prodigi_catalog_variants_variant_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_catalog_variants_variant_key ON public.prodigi_catalog_variants USING btree (variant_key);


--
-- Name: ix_prodigi_storefront_bakes_bake_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_prodigi_storefront_bakes_bake_key ON public.prodigi_storefront_bakes USING btree (bake_key);


--
-- Name: ix_prodigi_storefront_bakes_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_bakes_is_active ON public.prodigi_storefront_bakes USING btree (is_active);


--
-- Name: ix_prodigi_storefront_bakes_paper_material; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_bakes_paper_material ON public.prodigi_storefront_bakes USING btree (paper_material);


--
-- Name: ix_prodigi_storefront_offer_groups_bake_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_bake_id ON public.prodigi_storefront_offer_groups USING btree (bake_id);


--
-- Name: ix_prodigi_storefront_offer_groups_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_category_id ON public.prodigi_storefront_offer_groups USING btree (category_id);


--
-- Name: ix_prodigi_storefront_offer_groups_destination_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_destination_country ON public.prodigi_storefront_offer_groups USING btree (destination_country);


--
-- Name: ix_prodigi_storefront_offer_groups_fulfillment_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_fulfillment_level ON public.prodigi_storefront_offer_groups USING btree (fulfillment_level);


--
-- Name: ix_prodigi_storefront_offer_groups_geography_scope; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_geography_scope ON public.prodigi_storefront_offer_groups USING btree (geography_scope);


--
-- Name: ix_prodigi_storefront_offer_groups_ratio_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_ratio_label ON public.prodigi_storefront_offer_groups USING btree (ratio_label);


--
-- Name: ix_prodigi_storefront_offer_groups_storefront_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_storefront_action ON public.prodigi_storefront_offer_groups USING btree (storefront_action);


--
-- Name: ix_prodigi_storefront_offer_groups_tax_risk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_groups_tax_risk ON public.prodigi_storefront_offer_groups USING btree (tax_risk);


--
-- Name: ix_prodigi_storefront_offer_sizes_offer_group_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_sizes_offer_group_id ON public.prodigi_storefront_offer_sizes USING btree (offer_group_id);


--
-- Name: ix_prodigi_storefront_offer_sizes_slot_size_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_prodigi_storefront_offer_sizes_slot_size_label ON public.prodigi_storefront_offer_sizes USING btree (slot_size_label);


--
-- Name: artwork_labels artwork_labels_artwork_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_labels
    ADD CONSTRAINT artwork_labels_artwork_id_fkey FOREIGN KEY (artwork_id) REFERENCES public.artworks(id) ON DELETE CASCADE;


--
-- Name: artwork_labels artwork_labels_label_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_labels
    ADD CONSTRAINT artwork_labels_label_id_fkey FOREIGN KEY (label_id) REFERENCES public.labels(id) ON DELETE CASCADE;


--
-- Name: artwork_print_assets artwork_print_assets_artwork_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artwork_print_assets
    ADD CONSTRAINT artwork_print_assets_artwork_id_fkey FOREIGN KEY (artwork_id) REFERENCES public.artworks(id) ON DELETE CASCADE;


--
-- Name: artworks artworks_print_aspect_ratio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artworks
    ADD CONSTRAINT artworks_print_aspect_ratio_id_fkey FOREIGN KEY (print_aspect_ratio_id) REFERENCES public.print_aspect_ratios(id) ON DELETE SET NULL;


--
-- Name: labels labels_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.label_categories(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_artwork_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_artwork_id_fkey FOREIGN KEY (artwork_id) REFERENCES public.artworks(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: print_pricing print_pricing_aspect_ratio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_pricing
    ADD CONSTRAINT print_pricing_aspect_ratio_id_fkey FOREIGN KEY (aspect_ratio_id) REFERENCES public.print_aspect_ratios(id) ON DELETE CASCADE;


--
-- Name: prodigi_artwork_storefront_payloads prodigi_artwork_storefront_payloads_artwork_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_artwork_storefront_payloads
    ADD CONSTRAINT prodigi_artwork_storefront_payloads_artwork_id_fkey FOREIGN KEY (artwork_id) REFERENCES public.artworks(id) ON DELETE CASCADE;


--
-- Name: prodigi_artwork_storefront_payloads prodigi_artwork_storefront_payloads_bake_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_artwork_storefront_payloads
    ADD CONSTRAINT prodigi_artwork_storefront_payloads_bake_id_fkey FOREIGN KEY (bake_id) REFERENCES public.prodigi_storefront_bakes(id) ON DELETE CASCADE;


--
-- Name: prodigi_catalog_routes prodigi_catalog_routes_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_routes
    ADD CONSTRAINT prodigi_catalog_routes_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.prodigi_catalog_variants(id) ON DELETE CASCADE;


--
-- Name: prodigi_catalog_variants prodigi_catalog_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_catalog_variants
    ADD CONSTRAINT prodigi_catalog_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.prodigi_catalog_products(id) ON DELETE CASCADE;


--
-- Name: prodigi_storefront_offer_groups prodigi_storefront_offer_groups_bake_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_groups
    ADD CONSTRAINT prodigi_storefront_offer_groups_bake_id_fkey FOREIGN KEY (bake_id) REFERENCES public.prodigi_storefront_bakes(id) ON DELETE CASCADE;


--
-- Name: prodigi_storefront_offer_sizes prodigi_storefront_offer_sizes_offer_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodigi_storefront_offer_sizes
    ADD CONSTRAINT prodigi_storefront_offer_sizes_offer_group_id_fkey FOREIGN KEY (offer_group_id) REFERENCES public.prodigi_storefront_offer_groups(id) ON DELETE CASCADE;


--
-- Name: user_likes user_likes_artwork_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT user_likes_artwork_id_fkey FOREIGN KEY (artwork_id) REFERENCES public.artworks(id);


--
-- Name: user_likes user_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT user_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict zBjGWunD73jjrSaJ9DvbxWCbr6lUR78HXHk60k5YLfV2A5fwPu0nrx5lDAlpGv7

